@font-face {
    font-family: 'DK Longreach';
    src: url('Fontes/DK\ Longreach.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lemonmilk';
    src: url('Fontes/LEMONMILK-Regular.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0%;
}

/*----- barra de navegacao -----*/
.listra-amarela {
    height: 8px;
    background-color:#fec000;
}
#logo {
    height: 65px;
    width: 65px ;
}
.navbar {
    background-color: #700916;
    transition: 5s;
}

.navbar a{
    border-radius: 10px;
}

.navbar a:hover{
    background-color: #c1272d;
    border-radius: 10px;
}
#nav-font {
    margin-left: 1000px;
    font-family: 'DK Longreach';
    font-size: 25px;
    text-transform: uppercase;
}

#fonte {
    color: #fec000;
}

/*----- cardapio -----*/
.text{
    margin-right: 36%;
    margin-left: 36%;
    text-align: center;
    height: 40px;
    border-radius: 5px;
    margin-top: 80px;
    color: #bd1010;
    background-color: rgb(243, 178, 39);
    font-family: 'DK Longreach', Helvetica, sans-serif;
}
.cardapio{
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 35px;
    padding: 20px 0px 30px;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(185, 30, 30);
    font-family: 'DK Longreach', Helvetica, sans-serif;
}
.cardapio label{
    font-size: 18px;
    text-align: none;
    margin-top: 0px;
    margin-left: 6%;
}
.cardapio select{
    height: 30px;
    width: 89%;
    margin-top: 20px;
    margin-left: 5%;
    border-radius: 5px;
    border: #ffffff solid 1px;
}
.cardapio button{
    height: 25px;
    width: 89%;
    margin-left: 5%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #800707;
    border: none;
    color: #ffffff;
    font-family: 'DK Longreach', Helvetica, sans-serif;
}
.cardapio input{
   height: 60px;
   width: 89%;
   font-size: 30px;
   margin-left: 5%;
   margin-top: 20px;
   border: none;
   border-radius: 5px;
   color: #f3b227;
   background-color: #800707;
   font-family: 'DK Longreach', Helvetica, sans-serif;
}
/*----- rodape -----*/
.rodas{
    background-color: #333333;
    margin-top: 40px;
}
#logob {
    margin-left: 750px;
    margin-top: 20px;
    height: 70px;
    width: 70px;
}
#listrab {
    width: 80%;
    height: 1px;
    margin-left: 10%;
}
.redes-sociais {
    margin-top: 15px;
    margin-left: 700px;
    text-decoration: none;
}
#face {
    width: 55px;
    height: 55px;
}
#whats {
    width: 55px;
    height: 55px;
}
#insta {
    width: 55px;
    height: 55px;
}
#text-final {
    font-family: 'Montserrat', sans-serif;
    color: #9b9b9b;
    margin-left: 400px;
}
#part-branc {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin-left: 720px;
}


@media screen and (max-width: 500px) {
    #text-final {
        margin-left: 0;
        display: none;
    }

    .rodas {
        width: 100%;
    }

    #logob {
        margin: 0;
    }

    button {
        display: none;
    }

    #nav-font {
        margin-left: 0;
        font-size: 15px;
    }

    .text{
    margin-right: 22%;
    margin-left: 22%;
    }

    .cardapio{
        margin-left: 10%;
    }

}